[submodule "content/Mid-Term-Project"]
	path = content/Mid-Term-Project
	url = https://github.com/alsspp01/Mid-Term-Project.git
[submodule "gokarna_reviced"]
	path = themes/gokarna
	url = https://github.com/alsspp01/gokarna.git
